/* Surlignage des titres h1 */
h1 {
    text-decoration: underline;
}

/* Couleur de fond de tout contenu */
body {
    background-color: bisque;
    /* text-decoration: underline; */
}

/**
* Ce style concerne la balise HTML ayant comme id=connexion
*/
#connexion {
   text-align: center;  
}

.centrage {
    display: flex;
    justify-content: center;
}

.error {
    color: red;
}


#form_elem_connection {
    display: flex;
    flex-direction: column;
}

#form_connection {
    display: flex;
    justify-content: center;
}

input[type=submit] {
    color: white;
    background-color: blue;  
}


input {
    width: 100%;
}

.toTheRight{
    float: right;
}


/* Centrage du logo  */
.style-logo {
    display: flex;
    justify-content: center;
}

/* Style du pied de page -footer */
.style-footer {
    border-width: 2px;
    border-style: solid;
    color:white ;
    background-color: #df0059;
    display: flex;
    justify-content: space-between;
}

/* Image de fond  de la barre de navigation */
nav{
    background-color: #df0059;
}

/* Coloriage des Liens hypertextes en blanc */
nav a{
    color: white;
}


/* Menu de navigation  */
nav ul {
    display: flex;
    gap: 40px;
    list-style-type: none;
    justify-content: center;
    
}
